@{
    Layout = null;
}
@{
    var currentPath = ViewContext.HttpContext.Request.Path.Value?.ToLower();
    bool isDashboard = currentPath != null && currentPath.Contains("/dashboard");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>House Rental Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tenantdashboard.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header class="navbar navbar-expand-lg navbar-dark bg-gradient shadow-sm px-4">
            <div class="container">
                <a class="navbar-brand fw-bold fs-4 gradient-text" href="/">🏠 House Rental Service</a>

                <div class="d-flex ms-auto px-4 pe-4">
                    @if (isDashboard)
                    {
                        <a asp-page="/Auth/Logout" class="btn signup-btn me-2">Logout</a>
                        <a asp-page="/Property/List" class="btn signup-btn">List Property</a>
                    }
                    else
                    {
                        <a asp-page="/Auth/Login" class="btn login-btn me-2">Login</a>
                        <a asp-page="/Auth/Signup" class="btn signup-btn">Sign Up</a>
                    }
                </div>
            </div>
        </header>
        <main class="flex-fill">
            @RenderBody()
        </main>

        <footer class="bg-light text-center py-3 mt-auto border-top">
            <p class="mb-0 text-muted small">
                &copy; @DateTime.Now.Year All Rights Reserved to Group-03 CSE67E - House Rental Management System
            </p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelector('.btn-primary').addEventListener('click', e => {
          e.preventDefault();
          document.querySelector('.feature-section').scrollIntoView({ behavior: 'smooth' });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>


