<div id="preloader" class="d-none">
    <div class="loader-wrapper">
        <p class="loading-text">Loading...</p>
        <div class="circle-progress-container">
            <svg class="circle-progress" width="120" height="120" viewBox="0 0 120 120">
                <circle class="circle-background" cx="60" cy="60" r="54" />
                <circle class="circle-progress-bar" cx="60" cy="60" r="54" />
                <text class="circle-text" x="60" y="60" text-anchor="middle" dy=".3em">0%</text>
            </svg>
        </div>
    </div>
</div>